@{
    ViewBag.Title = "About";
}

<style>
    .jumbotron {
        background-color: #f4511e;
        color: #fff;
        padding: 100px 25px;
    }

    .container-fluid {
        padding: 60px 50px;
    }

    .bg-grey {
        background-color: #f6f6f6;
    }

    .logo {
        font-size: 200px;
    }

    @@media screen and (max-width: 768px) {
        .col-sm-4 {
            text-align: center;
            margin: 25px 0;
        }
    }
</style>

<body>
    <div class="jumbotron text-center">
        <h1>Find tutor</h1>
        <p>Your online classroom</p>
        <form class="form-inline">
            <div class="input-group">
                <input type="email" class="form-control" size="50" placeholder="Email Address" required>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-danger">Subscribe</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Container (About Section) -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>About our team</h2>
                <p>Our team consists of 3 young software engineers who saw the need of a platform like this one. </p>
                <button class="btn btn-default btn-lg">Get in Touch</button>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-book logo"></span>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-globe logo"></span>
            </div>
            <div class="col-sm-8">
                <h2>Our Values</h2>
                <h4><strong>MISSION:</strong> Connect every student with the tutor they need.</h4>
                <h4><strong>VISION:</strong> Go to platform for finding tutor.</h4>
            </div>
        </div>
    </div>

    <!-- Container (Services Section) -->
    <div class="container-fluid text-center">
        <h2>SERVICES</h2>
        <h4>What we offer</h4>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-off"></span>
                <h4>POWER</h4>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-heart"></span>
                <h4>LOVE</h4>
           </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-lock"></span>
                <h4>JOB DONE</h4>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-leaf"></span>
                <h4>GREEN</h4>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-certificate"></span>
                <h4>CERTIFIED</h4>
            </div>
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-wrench"></span>
                <h4 style="color:#303030;">HARD WORK</h4>
            </div>
        </div>
    </div>

</body>
